* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
}

section.sec1 {
  background: url("images/2.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section.sec2 {
  background: url("images/3.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section.sec3 {
  background: url("images/4.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section.sec4 {
  background: url("images/6.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section.sec-text {
  padding: 50px 100px;
  height: auto;
  background: #fff;
}

section.sec-text h1 {
  font-size: 48px;
  color: #262626;
}

section.sec-text p {
  font-size: 18px;
}
